page-pagina-principal {

    .align_center{
        text-align: center;
        margin-left: 5%;
    }
    .btn_paginarPrincipal{
        background: #87CEFA;
        margin: auto auto auto auto;
    }
    .bg_perfil{
        background: rgba(105, 105, 105, 0.26);
    }
}
