page-amigos-perfil {
    .p_amigosPerfil{
        color: black;
    }
    .color_page{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .color_p{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
    .item_amigosPerfil{
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
